//@use "sass:math" as math;
@use "../config/functions" as *;
@use "../config/mixins" as *;
//@use "../config/variables" as global;
@use '../config/root' as *;

// header-block
.header-block {
    display: grid;
    gap: rem(32);
    &--center {
        justify-content: center;
    }
    &__label {
        font-size: rem(20);
        font-weight: 800;
    }
    &__title {        
        font-weight: 800;
        line-height: 1.1;
        text-wrap: balance;
        @include adaptive-clamp("font-size", 72, 40);
    }
    &__title span {
        display: inline-block;
    }
    &__line span {
        position: relative;
        z-index: 2;
    }
    &__line {
        position: relative;
        &::before{
            content:'';
            position: absolute;
            height: rem(5);
            width: 94%;
            left: 0;
            background-color: #C084FC;
            @media (max-width: em(991.98)){
                 height: rem(4); 
            }
            @media (max-width: em(767.98)){
                height: rem(3); 
           }
        }
        &-bottom::before {
            bottom: 0;
            left: 2px;
        }
        &-top::before {
            top: rem(15);
            left: rem(6);
            @media (max-width: em(991.98)){
                top: rem(13);
            }
            @media (max-width: em(991.98)){
                top: rem(8);
            }
        }
    }
    &__purp {
        color: var(--accent-color);
    }
    &__text {
        max-width: rem(760);
        font-weight: 400;
        line-height: 1.6;
        text-align: center;
        text-wrap: balance;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: rem(16);
        @media (max-width: em(479.98)){
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__button {
    }
}
//=============================
.title {
    font-weight: 800;
    line-height: 1.1;
    @include adaptive-clamp("font-size", 56, 40);
}
//=============================







//=============================