@use '../helpers' as *;

.footer {
  &__body {
    display: grid;
    grid-template-columns: 250px 1fr 290px;
    border-top: 1px solid #897b7b6a;

    @include adaptive-clamp('padding-top', 80, 20);
    @include adaptive-clamp('padding-bottom', 80, 20);
    @include adaptive-clamp('column-gap', 80, 20);

    @media (max-width: em(1235)) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 290px;
    }

    @media (max-width: em(991.98)) {
      display: block;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (width <= 1440px) {
      @include adaptive-clamp('margin-bottom', 30, 10);
    }

    @media (max-width: em(1235)) {
      grid-column: span 2;
    }
  }

  &__logo {
    margin-bottom: 0.6em;
  }

  &__title {
    font-size: rem(20);
  }

  &__text {
    line-height: 150%;
    color: #898989;

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__menu {
    @include adaptive-clamp('margin-bottom', 40, 16);
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    display: inline-flex;
    align-items: center;
    line-height: 150%;
    color: #898989;

    &:not(:last-child) {
      @include adaptive-clamp('margin-bottom', 20, 10);
    }
  }
}

.menu-footer {
  display: flex;
  justify-content: space-around;

  @include adaptive-clamp('margin-bottom', 20, 10);

  @media (width <= 767.98px) {
    flex-direction: column;
  }

  &__title {
    margin-bottom: 10px;
    cursor: default;
  }

  &__list {
    @media (width <= 767.98px) {
      margin-top: 15px;
    }
  }

  &__list li {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__link {
    font-weight: 500;
    line-height: 120%;
    color: #616161;
    transition: color 0.2s;

    @media (any-hover: hover) {
      &:hover {
        color: var(--scroll-up);
      }
    }
  }
}

.init .menu-footer__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.init .menu-footer__title::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url('../components/spollers/spoller-white.svg') center center
    no-repeat;
  transition: transform 0.5s;
}

.init .menu-footer__title.active::after {
  transform: rotate(-180deg);
}

.subscribe {
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__form {
    display: flex;
  }

  &__input {
    width: 100%;
    padding: 0 12px;
    color: #595656;
    background-color: #f4f5f7;
  }

  &__button {
    flex: 0 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: var(--accent-color) url('../assets/img/root/libs/send.svg')
      center center no-repeat;
    transition: color 0.2s;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--c-scrollUp);
      }
    }
  }
}

.ic-location::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url('../assets/img/root/libs/location.svg') center center
    no-repeat;
}

.ic-phone::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url('../assets/img/root/libs/phone.svg') center center no-repeat;
}
