@use '../helpers' as *;

.powerful {
  &__container {
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: start;
    gap: rem(25);

    @media (max-width: em(767.98)) {
      grid-template-columns: auto;
      justify-items: center;
    }
  }

  &__body {
    align-self: center;
  }

  &__header-block {
    @media (max-width: em(767.98)) {
      text-align: center;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: rem(20);
  }
}
