@use '../helpers' as *;

.hero {
  @include adaptive-clamp(
    'padding-top',
    104,
    20
  ); // если header sticky, то паддинг берем от низа header

  &__container {
    text-align: center;
  }

  &__header-block {
    &:not(:last-child) {
      @include adaptive-clamp('margin-bottom', 80, 25);
    }
  }

  &__image {
    max-width: rem(1100);
    max-height: rem(762);
    margin: 0 auto;
  }

  // &__img {
  //     //border-radius: rem(20);
  //     //overflow: hidden;
  //     //box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07),
  //                 //0 25px 50px -12px rgba(0, 0, 0, 0.25);
  //     //transition: all 0.3s ease 0s;
  //     @media (any-hover: hover) {
  //         &:hover {
  //             //filter: grayscale(50%);
  //         }
  //     }
  // }
}
