@use '../helpers' as *;

.hero {
  @include adaptive-clamp('padding-top', 130, 80);

  &__container {
    text-align: center;
  }

  &__header-block {
    &:not(:last-child) {
      @include adaptive-clamp('margin-bottom', 80, 25);
    }
  }

  &__image {
    max-width: rem(1100);
    max-height: rem(762);
    margin: 0 auto;
  }
}
