//@use "sass:math" as math;
//@use "../config/variables" as global;
@use "../config/functions" as *;
@use "../config/mixins" as *;
//@use '../config/root' as *;
.partners {

    &__container {
    }
    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptive-clamp("margin-bottom", 60, 25);
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: rem(24);
    }
    &__item {
    }
}

