@use '../helpers' as *;

.partners {
  &__title {
    text-align: center;

    &:not(:last-child) {
      @include adaptive-clamp('margin-bottom', 60, 25);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: rem(24);
  }
}
