@use "../config/functions" as *;
@use "../config/mixins" as *;

.speed {

    &__container {
        display: grid;
        align-items: start;
        grid-template-columns: 35% 1fr; /* 450/1280 */
        gap: rem(25);
        @media (max-width: em(767.98)){
            grid-template-columns: auto;
            justify-items: center;
       }
    }
    &__body {
        align-self: center;
    }
    &__header-block {
        @media (max-width: em(767.98)){
            text-align: center;
       }
    }
    &__image {
        border-radius: rem(20);
        overflow: hidden; 
    }
    &__img {
    }
}

