@use '../../styles/helpers/' as *;

body::after {
  content: '';
  position: fixed;
  z-index: 149;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
}

[data-popup-open] body::after {
  opacity: 1;
}

[data-popup] {
  position: fixed;
  inset: 0;
  padding: 30px 10px;
  visibility: hidden;
  transition: visibility 0.8s ease 0s;
  pointer-events: none;

  &[data-popup-active] {
    z-index: 150;
    overflow: auto;
    visibility: visible;
    pointer-events: auto;
  }
}

[data-popup-active] [data-popup-body] {
  visibility: visible;
  transform: scale(1);
}

[data-popup-wrapper] {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

[data-popup-body] {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 20px;
  visibility: hidden;
  transition:
    transform 0.3s ease 0s,
    visibility 0.3s ease 0s;
  transform: scale(0);
}

[data-popup-close] {
  color: #000000;
}

[data-popup-youtube-place] iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* 
<div data-popup="popup" aria-hidden="true" class="popup">
  <div data-popup-wrapper class="popup__wrapper">
    <div data-popup-body class="popup__body">
      <button
        data-popup-close
        type="button"
        class="popup__close"
        aria-label="Close popup"
        title="Close popup"
      >
        <svg
          width="23"
          height="23"
          viewBox="0 0 23 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.850056"
            d="M1.73333 1.48883L21.5469 21.0288"
            stroke="#979797"
            stroke-linecap="square"
          />
          <path
            opacity="0.850056"
            d="M21.2667 1.48883L1.45309 21.0288"
            stroke="#979797"
            stroke-linecap="square"
          />
        </svg>
      </button>
      <div data-popup-content class="popup__text">
        <!-- Контент -->123456
      </div>
    </div>
  </div>
</div>
*/
