@use '../../styles/helpers/' as *;

.login {
  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-size: fluid(24, 18);

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__card-inner {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
  }

  &__card-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 600ms ease-out;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  &__card-front,
  &__card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    border-radius: 6px;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    backface-visibility: hidden;
    backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__center-wrap {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0 fluid(35, 5);
    transform: translate3d(0, -50%, 35px) perspective(100px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__card-back {
    transform: rotateY(180deg);
  }
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

.login__checkbox:checked + label,
.login__checkbox:not(:checked) + label {
  position: relative;
  display: block;
  width: 60px;
  height: 16px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  background-color: #ffeba7;
  border-radius: 8px;
  cursor: pointer;
}

.login__checkbox:checked + label::before,
.login__checkbox:not(:checked) + label::before {
  content: '';
  position: absolute;
  z-index: 20;
  top: -10px;
  left: -10px;
  display: block;
  width: 36px;
  height: 36px;
  background-color: #1e3fa9;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.login__checkbox:checked + label::before {
  transform: translateX(44px) rotate(-270deg);
}

.login__checkbox:checked ~ .login__card-inner .login__card-wrapper {
  transform: rotateY(180deg);
}
