
.button {
    background-color: $purpleColor;
    border-radius: rem(8);
    text-align: center;
    padding-block: rem(16);
    padding-inline: rem(40);

    font-weight: 500;
    font-size: rem(20);
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $mainColor;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            background-color: #7923c9;  
        }
    }
    &-min {
        font-size: rem(16);
        line-height: 1.5;
        padding-block: rem(12);
        padding-inline: rem(28);
    }
    &-transparent {
        background-color: transparent;
        @media (any-hover: hover){
            &:hover{
                background-color: $purpleColor;  
            }
        }
    }
    &-white-border {
        background-color: transparent;
        padding-block: rem(14);
        border: rem(2) solid $mainColor;
        @media (any-hover: hover){
            &:hover{
                background-color: $purpleColor;  
            }
        }
    }    
}
//<a href="#" class="actions-header__button button button-min button-transparent button-white-border"></a>